<section class="contact section" id="contact">
  <ngx-skeleton-loader
    [theme]="{
      display: 'flex',
      flexDirection: 'column',
      width: '120px',
      borderRadius: '20px',
      margin: '10px auto'
    }"
    count="2"
    appearance="line"
    [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
    *ngIf="!loaded"
  />
  <h2 *ngIf="loaded" class="section__title">{{ "Contact" | translate }}</h2>
  <span *ngIf="loaded" class="section__subtitle">{{
    "Say hi" | translate
  }}</span>

  <div class="contact__container container grid">
    <div class="contact__content">
      <ngx-skeleton-loader
        [theme]="{
          display: 'flex',
          flexDirection: 'column',
          width: '120px',
          borderRadius: '20px',
          margin: '10px auto'
        }"
        count="1"
        appearance="line"
        [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
        *ngIf="!loaded"
      />
      <h3 *ngIf="loaded" class="contact__title">
        {{ "Talk to me" | translate }}
      </h3>

      <div class="contact__info">
        <ngx-skeleton-loader
          [theme]="{
            display: 'flex',
            flexDirection: 'column',
            width: '250px',
            height: '100px',
            borderRadius: '20px',
            margin: '10px auto'
          }"
          count="3"
          appearance="line"
          [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
          *ngIf="!loaded"
        />
        <div *ngIf="loaded" class="contact__card">
          <fa-icon [icon]="discordIcon" class="contact__card-icon"></fa-icon>

          <h3 class="contact__card-title">Discord</h3>
          <span class="contact__card-data">Caio Souza#9353</span>

          <a
            href="https://discordapp.com/users/614463492082106368"
            target="_blank"
            rel="noreferrer"
            class="contact__button email_button"
          >
            {{ "Discord Profile" | translate }}

            <fa-icon [icon]="rightIcon" class="contact__button-icon"></fa-icon>
          </a>
        </div>

        <div *ngIf="loaded" class="contact__card">
          <fa-icon [icon]="whatsIcon" class="contact__card-icon"></fa-icon>

          <h3 class="contact__card-title">Whatsapp</h3>
          <span class="contact__card-data">(+55) 31 98102-9638</span>

          <a
            href="https://api.whatsapp.com/send?phone=5531981029638"
            target="_blank"
            rel="noreferrer"
            class="contact__button message_button"
          >
            {{ "Message me" | translate }}
            <fa-icon [icon]="rightIcon" class="contact__button-icon"></fa-icon>
          </a>
        </div>

        <div *ngIf="loaded" class="contact__card">
          <fa-icon [icon]="envelopeIcon" class="contact__card-icon"></fa-icon>

          <h3 class="contact__card-title">Email</h3>
          <span class="contact__card-data"
            >caiosouzasilva13650&#64;gmail.com</span
          >
        </div>
      </div>
    </div>

    <div class="contact__content">
      <ngx-skeleton-loader
        [theme]="{
          display: 'flex',
          flexDirection: 'column',
          width: '250px',
          borderRadius: '20px',
          margin: '10px auto'
        }"
        count="1"
        appearance="line"
        [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
        *ngIf="!loaded"
      />
      <h3 *ngIf="loaded" class="contact__title">
        {{ "Write me your Message" | translate }}
      </h3>

      <form
        method="POST"
        action="https://formsubmit.co/324f4411aafb2be4a527bec79dccc22f"
        class="contact__form"
      >
        <input type="hidden" name="_next" value="https://caiossilva.com/" />

        <ngx-skeleton-loader
          [theme]="{
            display: 'flex',
            flexDirection: 'column',
            width: '300px',
            height: '80px',
            borderRadius: '20px',
            margin: '10px auto'
          }"
          count="2"
          appearance="line"
          [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
          *ngIf="!loaded"
        />

        <div *ngIf="loaded" class="contact__form-div">
          <label for="name" class="contact__form-tag">{{
            "Name" | translate
          }}</label>
          <input
            autocomplete="name"
            id="name"
            type="text"
            maxLength="50"
            name="name"
            class="contact__form-input"
            required
          />
        </div>

        <div *ngIf="loaded" class="contact__form-div">
          <label for="email" class="contact__form-tag">{{
            "Your Email" | translate
          }}</label>
          <input
            autocomplete="email"
            id="email"
            type="email"
            maxLength="120"
            name="email"
            class="contact__form-input"
            required
          />
        </div>

        <ngx-skeleton-loader
          [theme]="{
            display: 'flex',
            flexDirection: 'column',
            width: '300px',
            height: '200px',
            borderRadius: '20px',
            margin: '10px auto'
          }"
          count="1"
          appearance="line"
          [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
          *ngIf="!loaded"
        />

        <div *ngIf="loaded" class="contact__form-div contact__form-area">
          <label for="message" class="contact__form-tag">{{
            "Message" | translate
          }}</label>
          <textarea
            id="message"
            name="message"
            cols="30"
            rows="10"
            maxLength="{500}"
            required
            class="contact__form-input"
          ></textarea>
        </div>

        <ngx-skeleton-loader
          *ngIf="!loaded"
          count="1"
          [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
          [theme]="{
            borderRadius: '20px',
            width: '180px',
            height: '70px',
            marginLeft: '35px'
          }"
        />
        <button *ngIf="loaded" type="submit" class="button button--flex">
          {{ "Send" | translate }}

          <fa-icon [icon]="paperplaneIcon" class="send__icon"></fa-icon>
        </button>
      </form>
    </div>
  </div>
</section>
