<section class="work section" id="portfolio">
  <ngx-skeleton-loader
    count="2"
    *ngIf="!loaded"
    [theme]="{
      display: 'flex',
      flexDirection: 'collum',
      width: '200px',
      margin: '10px auto',
      borderRadius: '20px'
    }"
  />
  <h2 *ngIf="loaded" class="section__title">{{ "Portfolio" | translate }}</h2>
  <span *ngIf="loaded" class="section__subtitle">{{
    "Most recent projects" | translate
  }}</span>
  <div
    [style]="loaded ? 'display:grid' : 'display:flex'"
    class="work__container container grid"
  >
    <ngx-skeleton-loader
      count="1"
      *ngIf="!loaded"
      [theme]="{
        contains: ' ',
        height: '350px',
        width: '350px',
        borderRadius: '20px'
      }"
    />
    <div
      [style]="loaded ? 'display:grid' : 'display:none'"
      class="work__card"
      *ngFor="let item of repos"
    >
      <img
        alt="project-img-git"
        title="project-img"
        src="../../../assets/project.webp"
        class="work__image"
        alt=""
      />
      <h3 class="work__title">{{ item.name }}</h3>
      <p class="work__description">{{ item.description | translate }}</p>
      <a
        [href]="item.html_url"
        target="_blank"
        class="work__button"
        rel="noreferrer"
      >
        {{ "View on Github" | translate }}
        <fa-icon [icon]="arrowRight" class="work__button-icon"></fa-icon>
      </a>
    </div>
  </div>
</section>
