<section class="about section" id="about">
  <h2 class="section__title">{{ "About Me" | translate }}</h2>
  <span class="section__subtitle">{{ "My introduction" | translate }}</span>

  <div class="about__container container grid">
    <div class="about__imgs">
      <img
        fetchpriority="high"
        alt="me-art-draw"
        title="me-art"
        src="../../../assets/about.webp"
        class="about__img"
      />
      <app-playingnow></app-playingnow>
    </div>

    <div class="about__data">
      <div class="about__info grid">
        <a class="about__box" href="#skills">
          <fa-icon [icon]="awardIcon"></fa-icon>
          <h2 class="about__title">{{ "Experience" | translate }}</h2>
          <span class="about__subtitle">{{ "4 Years Study" | translate }}</span>
        </a>
        <a class="about__box" href="#portfolio">
          <fa-icon [icon]="briefcaseIcon"></fa-icon>
          <h2 class="about__title">{{ "Completed" | translate }}</h2>
          <span class="about__subtitle">{{ "13 + Projects" | translate }}</span>
        </a>
      </div>
      <p class="about__description">
        {{
          "My name is Caio Souza, I'm 19 years old and I've been a frontend developer for 4 years"
            | translate
        }}
      </p>

      <div>
        <div class="button button--flex pointer" (click)="Download()">
          {{ "Resume" | translate }}
          <fa-icon [icon]="filecontractIcon" class="file"></fa-icon>
        </div>
        <div
          class="opt-container"
          [ngStyle]="opened ? { opacity: '1' } : { opacity: '0' }"
        >
          <div
            class="toggler"
            (click)="
              saveFile(
                '../../../assets/Currículo.pdf',
                'Curriculo - Caio Souza Silva'
              )
            "
          >
            <img
              src="../../../assets/br-icon.webp"
              alt="br-flag"
              title="br-flag"
            />
          </div>
          <div
            class="toggler"
            (click)="
              saveFile(
                '../../../assets/Resume.pdf',
                'Resume - Caio Souza Silva'
              )
            "
          >
            <img
              src="../../../assets/en-icon.webp"
              alt="en-flag"
              title="en-flag"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
