<footer class="footer">
  <div class="footer__container container">
    <h1 class="footer__title">Caio</h1>

    <ul class="footer__list">
      <li>
        <a href="#about" class="footer__link">About</a>
      </li>

      <li>
        <a href="#skills" class="footer__link">Skills</a>
      </li>

      <li>
        <a href="#portfolio" class="footer__link"> Portfolio </a>
      </li>
    </ul>

    <div class="footer__social">
      <a
        href="https://www.instagram.com/caios_silvaa/"
        target="_blank"
        rel="noreferrer"
        class="footer__social-link"
      >
        <fa-icon [icon]="instaIcon" class="instagram_icon"></fa-icon>
      </a>
      <a
        href="https://github.com/CaioSSilva"
        target="_blank"
        rel="noreferrer"
        class="footer__social-link"
      >
        <fa-icon [icon]="githubIcon" class="github_icon"></fa-icon>
      </a>
      <a
        href="https://twitter.com/Caiomas_levanto"
        target="_blank"
        rel="noreferrer"
        class="footer__social-link"
      >
        <fa-icon [icon]="twitterIcon" class="twitter_icon"></fa-icon>
      </a>
      <a
        href="https://www.linkedin.com/in/caio-souza-silva/"
        target="_blank"
        rel="noreferrer"
        class="footer__social-link"
      >
        <fa-icon [icon]="linkedinIcon" class="linkedin_icon"></fa-icon>
      </a>
    </div>

    <span class="footer__copy">@CaioSSilva. All rights reserved</span>
  </div>
</footer>
