.switch {
  width: 35px;
  height: 35px;
  position: fixed;
  display: flex;
  flex: start;
  align-items: center;
  left: 0.8rem;
  bottom: 1rem;
  background-color: var(--title-color);
  padding: 0.5rem;
  border-radius: 0.4rem;
  z-index: 2;
  cursor: pointer;
  transition: 0.4s;
}
.switch:hover {
  background-color: var(--title-color-dark);
}
.switch__icon {
  font-size: 1.2rem;
  color: var(--container-color);
}

@media screen and (max-width: 768px) {
  .switch {
    bottom: 4rem;
  }
}
