<header class="header">
  <div class="progress-container">
    <div id="progress"></div>
  </div>
  <nav class="nav container">
    <ngx-skeleton-loader
      *ngIf="!loaded"
      count="1"
      [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
      [theme]="{
        borderRadius: '20px',
        width: '40px'
      }"
    />
    <a *ngIf="loaded" href="/" class="nav__logo"> Caio </a>
    <div [ngClass]="{ 'show-menu': menu }" class="nav__menu">
      <ul class="nav__list grid">
        <ngx-skeleton-loader
          *ngIf="!loaded"
          count="6"
          [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
          [theme]="{ width: '60px', borderRadius: '20px', marginRight: '15px' }"
        />
        <li *ngIf="loaded" class="nav__item">
          <a
            href="#home"
            (click)="setNavActive('#home')"
            (click)="setMenu()"
            class="nav__link"
            [ngClass]="{ 'active-link': navActive === '#home' }"
          >
            <fa-icon [icon]="homeIcon" class="nav__icon"></fa-icon>
            {{ "Home" | translate }}
          </a>
        </li>

        <li *ngIf="loaded" class="nav__item">
          <a
            href="#about"
            class="nav__link"
            (click)="setNavActive('#about')"
            (click)="setMenu()"
            [ngClass]="{ 'active-link': navActive === '#about' }"
          >
            <fa-icon [icon]="userIcon" class="nav__icon"></fa-icon>
            {{ "About" | translate }}
          </a>
        </li>

        <li *ngIf="loaded" class="nav__item">
          <a
            href="#skills"
            class="nav__link"
            (click)="setNavActive('#skills')"
            (click)="setMenu()"
            [ngClass]="{ 'active-link': navActive === '#skills' }"
          >
            <fa-icon [icon]="fileIcon" class="nav__icon"></fa-icon>
            {{ "Skills" | translate }}
          </a>
        </li>

        <li *ngIf="loaded" class="nav__item">
          <a
            href="#qualifications"
            class="nav__link"
            (click)="setNavActive('#qualifications')"
            (click)="setMenu()"
            [ngClass]="{
              'active-link': navActive === '#qualifications'
            }"
          >
            <fa-icon [icon]="gradcapIcon" class="nav__icon"></fa-icon>
            {{ "Qualifications" | translate }}
          </a>
        </li>

        <li *ngIf="loaded" class="nav__item">
          <a
            href="#portfolio"
            class="nav__link"
            (click)="setNavActive('#portfolio')"
            (click)="setMenu()"
            [ngClass]="{ 'active-link': navActive === '#portfolio' }"
          >
            <fa-icon [icon]="wrenchIcon" class="nav__icon"></fa-icon>
            {{ "Portfolio" | translate }}
          </a>
        </li>

        <li *ngIf="loaded" class="nav__item">
          <a
            href="#contact"
            class="nav__link"
            (click)="setNavActive('#contact')"
            (click)="setMenu()"
            [ngClass]="{ 'active-link': navActive === '#contact' }"
          >
            <fa-icon [icon]="messageIcon" class="nav__icon"></fa-icon>
            {{ "Contact" | translate }}
          </a>
        </li>
      </ul>

      <fa-icon
        [icon]="xIcon"
        class="nav__icon nav__close"
        (click)="setMenu()"
      ></fa-icon>
    </div>

    <div class="nav__toggle" (click)="setMenu()">
      <ngx-skeleton-loader
        *ngIf="!loaded"
        [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
        [theme]="{ width: '20px' }"
      />
      <fa-icon *ngIf="loaded" [icon]="gripIcon"></fa-icon>
    </div>
  </nav>
</header>
