<ngx-skeleton-loader
  [theme]="{
    width: '35px',
    height: '35px',
    position: 'fixed',
    left: '1.5rem',
    bottom: '3rem'
  }"
  [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
  *ngIf="!loaded"
/>
<div *ngIf="loaded" class="language" (click)="menuOpen = !menuOpen">
  <fa-icon [icon]="faGlobe" class="language__icon"></fa-icon>
</div>

<div class="menu" [ngStyle]="{ display: menuOpen ? 'flex' : 'none' }">
  <div>
    <div
      (click)="changeLang(item.value)"
      (click)="menuOpen = !menuOpen"
      class="lang"
      *ngFor="let item of languages"
    >
      <img alt="lang-flag" title="lang-flag" [src]="item.flag" class="flag" />
      <p>{{ item.name | translate }}</p>
    </div>
  </div>
</div>
