<section class="home section" id="home">
  <div class="home__container container grid">
    <div class="home__content grid">
      <div class="home__social">
        <ngx-skeleton-loader
          [theme]="{
            display: 'flex',
            borderRadius: '20px',
            flexDirection: 'column'
          }"
          count="4"
          appearance="circle"
          [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
          *ngIf="!loaded"
        />
        <a
          *ngIf="loaded"
          href="https://www.instagram.com/caios_silvaa/"
          target="_blank"
          rel="noreferrer"
          class="home__social-icon instagram_icon"
          aria-label="Instagram"
        >
          <fa-icon [icon]="instaIcon"></fa-icon>
        </a>
        <a
          *ngIf="loaded"
          href="https://github.com/CaioSSilva"
          target="_blank"
          rel="noreferrer"
          class="home__social-icon github_icon"
          aria-label="Github"
        >
          <fa-icon [icon]="githubIcon"></fa-icon>
        </a>
        <a
          *ngIf="loaded"
          href="https://twitter.com/Caiomas_levanto"
          target="_blank"
          rel="noreferrer"
          class="home__social-icon twitter_icon"
          aria-label="Twitter"
        >
          <fa-icon [icon]="twitterIcon"></fa-icon>
        </a>
        <a
          *ngIf="loaded"
          href="https://www.linkedin.com/in/caio-souza-silva/"
          target="_blank"
          rel="noreferrer"
          class="home__social-icon linkedin_icon"
          aria-label="Linkedin"
        >
          <fa-icon [icon]="linkedinIcon"></fa-icon>
        </a>
      </div>
      <div class="home__img">
        <app-color></app-color>
        <ngx-skeleton-loader
          count="1"
          *ngIf="!loaded"
          appearance="circle"
          [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
          [theme]="{ width: '200px', height: '200px' }"
        />
        <img
          *ngIf="loaded"
          fetchpriority="high"
          src="../../../assets/profile.webp"
          alt="me"
          title="me-photo"
        />
      </div>
      <div class="home__data">
        <ngx-skeleton-loader
          [theme]="{
            display: 'flex',
            flexDirection: 'column',
            borderRadius: '20px',
            gap: '15px'
          }"
          count="4"
          appearance="line"
          [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
          *ngIf="!loaded"
        />
        <h1 *ngIf="loaded" class="home__title">Caio Souza</h1>

        <h2 *ngIf="loaded" class="home__subtitle">
          {{ "Web Developer" | translate }}
        </h2>
        <p *ngIf="loaded" class="home__description">
          {{
            "Software developer, writer, intern at IBM Brazil and passionate to my work!"
              | translate
          }}
        </p>
        <ngx-skeleton-loader
          *ngIf="!loaded"
          count="1"
          [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
          [theme]="{
            width: '150px',
            height: '50px',
            borderRadius: '20px',
            marginTop: '30px'
          }"
        />
        <a *ngIf="loaded" href="#contact" class="button button--flex">
          <p>{{ "Say Hello" | translate }}</p>
          <fa-icon
            [icon]="paperplaneIcon"
            style="padding-left: 0.8rem"
          ></fa-icon>
        </a>
      </div>
    </div>

    <div class="home__scroll">
      <ngx-skeleton-loader
        *ngIf="!loaded"
        count="1"
        [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
        [theme]="{
          borderRadius: '20px',
          width: '200px'
        }"
      />
      <a *ngIf="loaded" href="#about" class="home__scroll-button button--flex">
        <div class="mouse">
          <div class="scroll"></div>
        </div>
        <span class="home__scroll-name">{{ "Scroll Down" | translate }}</span>
        <fa-icon [icon]="arrowdownIcon" class="home__scroll-arrow"></fa-icon>
      </a>
    </div>
  </div>
</section>
