.grid {
  gap: 10px;
}
.qualification__container {
  grid-template-columns: repeat(1, 600px);
  column-gap: 3rem;
  justify-content: center;
}

.qualification__content {
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  border-radius: 1.25rem;
  padding: 2rem 4rem;
}
.qualification__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2);
}
.certification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
}
.qualification__selection {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin: 0 var(--mb-1);
  cursor: pointer;
}
.qualification__selection fa-icon {
  margin-right: 5px;
}
.qualification__selection:hover {
  color: var(--title-color-dark);
}
.qualification__labels {
  display: flex;
  align-items: center;
}
.qualification__labels h2 {
  font-size: 16px;
}
.certification__name {
  width: 50%;
  padding: 10px;
}
.certification__name fa-icon {
  margin-right: 5px;
}
.certification__date,
.certification__type {
  width: 22%;
  padding: 10px;
}
.qualification__filter {
  display: flex;
  justify-content: center;
  width: 8%;
}
.qualification__button {
  display: flex;
  align-items: center;
  border-radius: 100%;
  padding: 10px;
  color: var(--title-color);
  background-color: var(--container-color);
}
.qualification__button:hover {
  color: #f3f3f3;
  background-color: var(--title-color-dark);
  cursor: pointer;
}
.qualification__content_wrapper {
  height: 300px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.qualification__content_wrapper::-webkit-scrollbar {
  display: none;
}
.qualification__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top: 0.5px var(--title-color-dark) solid;
}
.qualification__item:hover {
  background-color: var(--title-color-dark);
}
.qualification__item p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: var(--title-color);
}
.qualification__item:hover p {
  color: #f3f3f3;
}
.experience__data {
  column-gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  position: relative;
  margin-bottom: 1rem;
}
.experience__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.experience__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}
.experience__calender {
  font-size: var(--small-font-size);
}
.experience__calender span {
  margin-left: 5px;
}
.experience__rounder {
  background-color: var(--text-color);
  border-radius: 50%;
  display: inline-block;
  height: 13px;
  width: 13px;
}
.experience__line {
  background-color: var(--text-color);
  display: block;
  height: 100%;
  -webkit-transform: translate(6px, -7px);
  transform: translate(6px, -7px);
  width: 1px;
}
.filter__menu {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  margin-top: 37px;
}
.filter__container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #f3f3f3;
  border-radius: 50%;
}

.filter__container:hover input ~ .checkmark {
  background-color: #ccc;
}

.filter__container input:checked ~ .checkmark {
  background-color: #2b2b2b;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter__container input:checked ~ .checkmark:after {
  display: block;
}

.filter__container .checkmark:after {
  left: 5px;
  top: 6px;
  width: 6px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

@media screen and (max-width: 992px) {
  .qualification__container {
    grid-template-columns: repeat(1, 350px);
  }
  .qualification__content {
    padding: 1rem 2rem;
  }
  .qualification__labels h1 {
    font-size: 14px;
  }
  .certification__name {
    width: 60%;
  }
  .certification__date {
    width: 30%;
  }
  .certification__type {
    display: none;
  }
  .experience__data {
    grid-template-columns: max-content 1fr;
  }
  .filter__menu{
    margin-right: 20px;
  }
}
