<section class="qualification section" id="qualifications">
  <h2 class="section__title">{{ "Qualifications" }}</h2>
  <span class="section__subtitle">{{ "My personal Journey" }}</span>
  <div class="qualification__container container grid">
    <div class="qualification__tabs">
      <div
        class="qualification__selection qualification__active button--flex"
        (click)="setTab(0)"
      >
        <fa-icon [icon]="certificationTabIcon"></fa-icon>
        {{ "Certifications" }}
      </div>
      <div
        class="qualification__selection qualification__active button--flex"
        (click)="setTab(1)"
      >
        <fa-icon [icon]="experienceTabIcon"></fa-icon>
        {{ "Experience" }}
      </div>
    </div>
    <div class="qualification__content">
      <div class="certifications" *ngIf="tab === 0">
        <div class="qualification__labels">
          <h2 class="certification__name">{{ "Name" }}</h2>
          <h2 class="certification__date">{{ "Date" }}</h2>
          <h2 class="certification__type">{{ "Type" }}</h2>
          <div class="qualification__filter">
            <fa-icon
              [icon]="filterIcon"
              class="qualification__button"
              (click)="openFilterMenu()"
            ></fa-icon>
            <div class="filter__menu" *ngIf="filterMenuOpen">
              <label
                *ngFor="let filter of filters; let i = index"
                class="filter__container"
              >
                {{ filter.name }}
                <input
                  type="radio"
                  [checked]="filters[i].checked"
                  (click)="filterClick(filters[i].name)"
                  (click)="openFilterMenu()"
                />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="qualification__content_wrapper">
          <a
            class="qualification__item"
            *ngFor="let item of qualifications"
            [href]="item.link"
            target="_blank"
          >
            <p class="certification__name">
              <fa-icon [icon]="certificationIcon"></fa-icon>{{ item.name }}
            </p>
            <p class="certification__date">{{ item.date }}</p>
            <p class="certification__type">{{ item.type }}</p>
          </a>
        </div>
      </div>
      <div class="experience" *ngIf="tab === 1">
        <div class="experience__data">
          <div>
            <h3 class="experience__title">{{ "Intern" }}</h3>
            <span class="experience__subtitle">{{ "IBM - Brazil" }}</span>
            <div class="experience__calender">
              <fa-icon [icon]="calendarIcon"></fa-icon>
              <span>{{ "2022 - Present" }}</span>
            </div>
          </div>
          <div>
            <span class="experience__rounder"></span
            ><span class="experience__line"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
