<ngx-skeleton-loader
  [theme]="{
    width: '350px',
    borderRadius: '20px',
    height: '90px',
    marginTop: '3rem'
  }"
  count="1"
  appearance="line"
  [animation]="style == 'dark-mode' ? 'progress' : 'progress-dark'"
  *ngIf="!loaded"
/>
<a
  href="https://www.last.fm/pt/user/CaioSSilva"
  target="_blank"
  *ngIf="loaded"
  class="playing__container"
>
  <img
    title="track-cover"
    [src]="music.recenttracks.track[0].image[2]['#text']"
    alt="track-cover"
  />
  <div class="music__container">
    <div>
      <div class="bubble"></div>
      <p class="playing__now">{{ "Playing Now on TIDAL" | translate }}</p>
    </div>
    <h2>{{ music.recenttracks.track[0].name }}</h2>
    <p>{{ music.recenttracks.track[0].artist["#text"] }}</p>
  </div>
</a>
