.playing__container {
  display: flex;
  width: 400px;
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 0.75rem;
  border: 1px solid var(--border-color);
  background-color: var(--container-color);
}
.playing__container img {
  height: 80px;
  width: 80px;
  filter: grayscale(1);
  border-radius: 8px;
}
.playing__container h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--h3-font-size);
}
.playing__container p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--small-font-size);
}
.playing__now {
  transition: all;
  animation: animation 3s ease-in-out infinite;
  font-size: var(--smaller-font-size) !important;
}
.playing__container > div {
  padding-left: 0.7rem;
  width: 250px;
  flex: 1;
}
@keyframes animation {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* For large devices */
@media screen and (max-width: 992px) {
  .playing__container {
    width: 350px;
  }
}
